body { background: #5bbdcc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-email-0 { color: #66f776; font-size: 14px; margin-bottom: 5px; }
.block-database-1 { color: #3384a1; font-size: 14px; margin-bottom: 5px; }
.block-session-2 { color: #f46a84; font-size: 12px; margin-bottom: 5px; }
.block-config-3 { color: #fd7975; font-size: 21px; margin-bottom: 5px; }
.block-config-4 { color: #569685; font-size: 20px; margin-bottom: 5px; }